@font-face {
  font-family: "icomoon"; /*自定义字体名称*/
  src: url("../fonts/icomoon.eot?rretjt"); /*自定义字体的路径*/
  src: url("../fonts/icomoon.eot?#iefixrretjt") format("embedded-opentype"),
    url("../fonts/icomoon.woff?rretjt") format("woff"),
    /*format为字体格式 便于浏览器识别*/ url("../fonts/icomoon.ttf?rretjt")
      format("truetype"),
    url("../fonts/icomoon.svg?rretjt#icomoon") format("svg");
  font-weight: normal; /*属性是否加粗*/
  font-style: normal; /*是否倾斜属性*/
}
